# Ignore all files and use an opt-in strategy
*

# Dont ignore me
!.gitignore

# Add readme
!README.md

# Add to do text file
!todo.txt

# Add elm files
!*.elm
!elm-package.json

# Add source files
!src/
!src/Model/
!src/Util/
!src/Component/

